.bg-image {
    background-image: url('login_background.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  @media (max-width: 768px) {
    .bg-image {
      display: none;
    }
  }
  