/* Cambia el color de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  border-radius: 50%; /* Hace las flechas redondas */
  width: 50px;
  height: 50px;
}

/* Cambia el color de las flechas al pasar el mouse */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
