/* segun el figma de carrito */

  .cart-container {
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
  }

  .cart-container-body{
    margin-top: 100px;
    overflow-y: auto; 
    padding-bottom: 80px;
    
  }


  .cart-content {
    display: flex;
    justify-content: space-between;
  }

  .cart-items {
    width: 60%;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    display:grid;
  }

  .cart-summary {
    width: 35%;
    background-color: #e0f0ff;
    padding: 1.5rem;
    border-radius: 10px;

  }   

  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    width: 70px;
    height: auto;
    border-radius: 10px;
  }

  /*PROGRESO */
  .progress-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .progress-steps .step {
    position: relative;
    padding: 10px 20px;
    border-radius: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .progress-steps .completed {
    color: white;
    background-color: #28a745; /* Verde */
  }
  
  .progress-steps .current {
    color: black;
    border: 2px solid #28a745;
    background-color: white;
  }
  
  .progress-steps .pending {
    color: #ccc;
    background-color: #f1f1f1; /* Gris */
  }
  
  .progress-steps .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100px;
    height: 3px;
    background-color: #ddd;
    z-index: -1;
    transform: translateY(-50%);
  }
  
  .completed + .step::after {
    background-color: #28a745; /* Línea verde entre pasos completados */
  }
    

  /* Estilos de los items del carrito */

  .item-details {
    flex-grow: 1;
    margin-left: 3rem;
  }

  .item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15rem;
  }

  /* Estilos del resumen del pedido */

  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
  }

  .coupon-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    
  }

  .apply-discount-btn {
    background-color: #0056b3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 100%;
  }

  .checkout-btn {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
    font-weight: bold;
  }

  /* Botón de eliminar item (basurero) */
  .delete-item-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    align-items: right;
    margin-left: 20rem;
  }
