.cartEnvio-container {
  padding: 3rem;
  font-family: 'Arial', sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9; /* Fondo gris claro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-bottom: 150px;
}


.CartEnvio-body {
  width: auto;
  margin: 0 auto;
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-width-button1 {
  width: 100%;
  margin-bottom: 20px;
}

.custom-outline-button {
  color: #0d6efd; /* Color de la tipografía */
  border-color: #0d6efd; /* Color del borde */
}

.custom-outline-button:hover {
  background-color: #0d6efd; /* Fondo azul cuando se pasa el ratón */
  color: white; /* Cambiar el color de la tipografía a blanco cuando se pasa el ratón */
  border-color: #0d6efd; /* Mantener el color del borde igual */
}


.FormDatos {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-text {
  color: #b22222;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

input, select, textarea {
  width: 100%; 
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-error {
  border: 2px solid #b22222; 
  color: #b22222;
  background-color: #ffe6e6; 
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .cartEnvio-container {
      padding: 2rem;
      margin-top: 150px;
      margin-bottom: 150px;
      background-color: #f9f9f9; /* Fondo gris claro */
  }

  .CartEnvio-body {
      max-width: 80%; /* Aumenta el ancho para pantallas más pequeñas */
      margin-top: 150px;
      margin-bottom: 150px;
  }

  .steps-container {
      width: 90%; /* Ajusta el tamaño del contenedor del progreso */
  }

  .progress-steps {
      flex-direction: column; /* Pone los pasos en columna */
  }

  .progress-steps .step {
      padding: 10px;
      font-size: 0.9rem; /* Reduce el tamaño de fuente para mejor adaptación */
  }

  .form-container{
    padding: 3rem;
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media (max-width: 480px) {
  .cartEnvio-container {
      padding: 1.5rem;
      margin-top: 150px;
      margin-bottom: 150px;
      background-color: #f9f9f9; /* Fondo gris claro */
  }

  .CartEnvio-body {
      max-width: 90%; /* Más amplio en pantallas muy pequeñas */
      margin-top: 150px;
      margin-bottom: 150px;
  }

  .steps-container {
      width: 100%;
  }

  .progress-steps .step {
      padding: 8px;
      font-size: 0.85rem;
  }
}
