.checkout-container {
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    margin-bottom: 200px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkout-btn {
    background-color: #007bff;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .checkout-btn:hover {
    background-color: #0056b3;
  }
  
  .input-error {
  border: 2px solid #b22222; /* rojo para indicar el error */
  color: #b22222;
  background-color: #ffe6e6; /* agrega un fondo para resaltar el campo esto me esta funcionando en metodo pero no en el form */
  }


  /*PROGRESO */
/* Contenedor más pequeño y centrado */
.steps-container {
  width: 60%; 
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Estilos de la lista de pasos */
.progress-steps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px;
  background-color: #e0e0e0; /* Fondo gris claro */
  border-radius: 8px;
  overflow: hidden;
}

.progress-steps .step {
  flex: 1;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  color: #666;
  transition: background-color 0.3s, color 0.3s;
}

/* Paso completado */
.progress-steps .completed {
  background-color: #555; /* Fondo gris oscuro para completado */
  color: white;
}

/* Paso actual */
.progress-steps .current {
  background-color: #888; /* Fondo intermedio para el paso actual */
  color: white;
}

/* Paso pendiente */
.progress-steps .pending {
  color: #999; /* Texto gris claro para pendiente */
}

/* Flechas en los bordes de cada paso */
.progress-steps .step:not(:last-child) {
  position: relative;
}

.progress-steps .step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px; /* Ajusta para alinear bien la flecha */
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #e0e0e0;
  z-index: 1;
}

.progress-steps .completed:not(:last-child)::after {
  border-left-color: #555; /* Flecha del paso completado */
}

.progress-steps .current:not(:last-child)::after {
  border-left-color: #888; /* Flecha del paso actual */
}
