.checkout-container {
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  overflow-y: auto;
}

.checkout-container-body {
  margin-top: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.checkout-items {
  flex: 1;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
}

.checkout-summary {
  flex: 0.4;
  background-color: #e0f0ff;
  padding: 1.5rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.checkout-next-btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 1024px) {
  .checkout-content {
    flex-direction: column;
    gap: 1rem;
  }

  .checkout-items,
  .checkout-summary {
    width: 100%;
  }
}
