.finalizar-compra-container {
    border-radius: 8px;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    margin-bottom: 200px;
}

.finalizar-compra-container h2,
.finalizar-compra-container h3 {
    color: #333;
    font-weight: 600;
}

.finalizar-compra-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.bg-light {
    background-color: #f4f4f4 !important;
    border-radius: 8px;
}

.bg-light h3 {
    color: #333;
    font-weight: 600;
}

.bg-light p {
    font-size: 16px;
    color: #666;
}

.mt-4 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 15px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-errors {
    border: 2px solid #b22222; 
    }
  

    /*PROGRESO */
  .progress-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .progress-steps .step {
    position: relative;
    padding: 10px 20px;
    border-radius: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .progress-steps .completed {
    color: white;
    background-color: #28a745; /* Verde */
  }
  
  .progress-steps .current {
    color: black;
    border: 2px solid #28a745;
    background-color: white;
  }
  
  .progress-steps .pending {
    color: #ccc;
    background-color: #f1f1f1; /* Gris */
  }
  
  .progress-steps .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100px;
    height: 3px;
    background-color: #ddd;
    z-index: -1;
    transform: translateY(-50%);
  }
  
  .completed + .step::after {
    background-color: #28a745; /* Línea verde entre pasos completados */
  }
    