.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Ajusta la altura */
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade un sombreado */
}

.navbar-logo {
  height: 40px; /* Ajusta la altura del logo */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* Controla el espacio entre los enlaces */
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Asegura que los enlaces ocupen el espacio del medio */
  justify-content: center; /* Centra los enlaces */
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-cart {
  height: 24px; /* Ajusta el tamaño del ícono del carrito */
  margin-right: 1rem; /* Añade espacio entre el carrito y la foto de usuario */
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.navbar-user-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem; /* Espacio entre la foto y la flecha */
}

.navbar-arrow {
  height: 16px; /* Ajusta el tamaño del ícono de la flecha */
}
