
.perfil-container {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  color: #333;
  padding: 5rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 200px;
}

.perfil-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.perfil-tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  border-bottom: 3px solid transparent;
}

.perfil-tabs button.active {
  color: #333;
  border-bottom: 3px solid #333;
}

.perfil-content h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.perfil-content p {
  color: #777;
  margin-bottom: 20px;
}

.perfil-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

h3 {
  width: 100%;
  font-size: 1.2em;
  margin: 20px 0 10px;
}

.save-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.save-button:hover {
  background-color: #0056b3;
}


/*parte pedidos*/
.pedido-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pedido-check {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.pedido-detalle {
  flex: 1;
}

.pedido-total {
  font-weight: bold;
  color: #333;
}


/*FAVORITOS*/

.favoritos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.favorito-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.favorito-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.favorito-details {
  padding: 10px 0;
}

.favorito-details h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.favorito-details p {
  font-size: 1rem;
  color: #666;
}

.favorito-details span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
